.main {
  height: 100%;
  overflow-y: scroll;
}
.tabs {
  margin-top: -38px;

  & > div:first-child {
    :global {
      .ant-tabs-tab-active {
        font-size: 15px;
        font-weight: bold;
        color: #150F55;
      }
    }
  }
}
