.yunqi {
  padding-top: 30px;
  text-align: center;
  position: relative;
}
.btn-tz {
  position: absolute;
  top: 20px;
  right: 300px;
}
.btn-sz {
  position: absolute;
  top: 20px;
  right: 450px;
}
.fetusCanvas {
  background-color: #F4FDEA;
  display: inline-block;
  margin-right: 30px;
}
.bmiCanvas {
  background-color: #EAEAFD;
  display: inline-block;
}
