.baseEditPanel {
  display: flex;
  justify-content: center;
  background: #ffffff;
  height: 100%;
  overflow-y: scroll;
  :global {
    .ant-form-item {
      margin-bottom: 12px;
    }
  }
}

.panelWithChild {
  height: 100%;
  overflow-y: scroll;
  .baseEditPanel {
    overflow: hidden;
  }
  .panelWithChildHeader {
    display: flex;
    height: 55px;
    align-items: center;
    background: #ffffff;
    margin-bottom: 8px;
    padding: 0 8px;

    .panelWithChildHeaderItem {
      margin-right: 48px;
      font-size: 16px;
      font-weight: bold;
      color: #150f55;
      .panelWithChildHeaderItemLabel {
        font-size: 14px;
        display: inline-block;
        margin-right: 8px;
      }
      .panelWithChildHeaderItemValue {
        display: inline-block;
      }
    }
  }
  // .panelWithChildHeaderDivider {
  //   height: 2px;
  //   background: #ffffff;
  // }

  :global {
    .ant-tabs-bar {
      margin: 0;
      border-bottom: 1px solid #3d8bf7 !important;
    }
    .ant-tabs-tab {
      border-bottom: 1px solid #3d8bf7 !important;
    }
    .ant-tabs-tab-active {
      border: 1px solid #3d8bf7 !important;
      border-bottom: 1px solid #ffffff !important;
      border-radius: 4px 4px 0 0 !important;
    }
  }
}

.buttons {
  margin-top: 36px;

  button {
    min-width: 182px;
    margin: 0 24px;
    font-weight: 600;
    letter-spacing: 2px;
  }

  :global {
    .ant-form-item-control-input-content {
      text-align: center;
    }
  }
}
