.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background-color: #fff;
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: left;
  height: 32px;

  .item {
    margin-right: 12px;
    font-size: 15px;
    font-weight: bold;
    color: #150F55;

    .label {
      
    }

    .value {

    }
  }
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 99;

  & > div {
    margin-left: 12px;
    overflow: hidden;
    border-radius: 4px;
    border: 1px solid #D8DCE6;

    .top, .bottom {
      flex:1;
      min-width: 32px;
      height: 32px;
      line-height: 32px;
    }
  }

  .highrisk {
    .top {
      display: flex;

      span {
        width: 62px;
        text-align: center;
        color: #fff;
        font-weight: bold;
        background-color: #C43333;
      }

      div {
        min-width: 142px;
        padding: 0 12px;
        color: #fff;
        background-color: #9B66FF;
      }
    }

    .bottom {
      display: flex;
      span {
        width: 62px;
        text-align: center;
        font-size: 12px;
      }

      div {
        min-width: 142px;
        padding: 0 10px;
        color: #932C3F;
        font-weight: bold;
        font-size: 17px;
      }
    }
  }

  .signs {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: #fff;

    .top {
      background-color: #449EC4;
    }

    .bottom {
      background-color: #AF7D81;
    }
  }
}


.danger-btn-wrapper .btnList-btn-group {
    display: flex;
  }
  .high-risk-wrapper .btnList-btn-group {
    display: flex;
  }
  .level-btn {
    width: 80px;
    height: 30px;
    border-bottom-left-radius: 0;
  }
  .high-risk-btn {
    font-size: 14px;
    font-weight: 400;
    padding: 4px 5px;
    width: 80px;
    height: 50px;
    border-top-left-radius: 0;
  }
  .high-risk-content {
    height: 50px;
    color: #932C3F;
    max-width: 560px;
    text-align: left;
    flex: 1;
    border-top-right-radius: 0;
    span {
      width: 100%;
      font-size: 16px;
      line-height: 20px;
      overflow: hidden;
      text-overflow:ellipsis;
      display:-webkit-box;
      -webkit-box-orient:vertical;
      -webkit-line-clamp:2;
      white-space: pre-wrap;
    }
  }
  .danger-btn-1 {
    color:#fff;
    background-color: #49C458;
    &:hover {
      background-color: #49C458;
    }
  }
  .danger-btn-2 {
    color:#150F55;
    background-color: #FFD363;
    &:hover {
      background-color: #FFD363;
    }
  }
  .danger-btn-3 {
    color:#150F55;
    background-color: #FB9824;
    &:hover {
      background-color: #FB9824;
    }
  }
  .danger-btn-4 {
    color:#150F55;
    background-color: #FFA8A8;
    &:hover {
      background-color: #FFA8A8;
    }
  }
  .danger-btn-5 {
    color:#fff;
    background-color: #C43333;
    &:hover {
      background-color: #C43333;
    }
  }
  .btnList-right {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
  }
  .danger-btn-trial {
    color:#ffffff;
    background-color: #4e1303;
    &:hover {
      background-color: #4e1303;
    }
  }
  .danger-btn-phar {
    color:#ffffff;
    background-color: #4d94ff;
    &:hover {
      background-color: #4d94ff;
    }
  }
  .danger-btn-infectin {
    height: 30px;
    max-width: 560px;
    padding-top: 2px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    text-align: left;
    flex: 1;
    border-bottom-right-radius: 0;
  }
  .has-infectin {
    color:#ffffff;
    background: linear-gradient(275deg,rgba(155,102,255,1) 0%,rgba(98,54,255,1) 100%);
    &:hover {
      background-color: #c205e7;
    }
  }
  .no-infectin {
    color: #150F55;
    background-color: #F0F3F5;
    &:hover {
      background-color: #F0F3F5;
    }
  }
