.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleName {
  display: block;
  font-weight: 600;
  font-size: 14px;
  color: #000;
}

.table {
  :global {
    .ant-table-title {
      // padding: 12px !important;
    }

    .ant-table-thead {
      .ant-table-cell {
        font-weight: bold;
        color: #150F55;
      }
    }

    .ant-table-cell {
      padding: 4px 8px !important;

      &:empty:after {
        content: '--';
        position: inherit;
        box-shadow: none !important;
      }
    }
  }
}
