.float-tree-menu {
  .btn {
    position: fixed;
    top: 30%;
    right: 0;
    button {
      width: 40px;
      height: 85px;
      padding: 0;
      border-bottom-left-radius: 14px;
      border-top-left-radius: 14px;
      > span {
        font-size: 14px;
        text-align: justify;
        writing-mode: vertical-rl;
        letter-spacing: 4px;
      }
    }
  }
}