.customRouterTabs {
  position: fixed;
  z-index: 9;
  top: 50px;
  padding-top: 5px;
  overflow-x: auto;
  white-space: nowrap;
  background-color: #fff;

  &::-webkit-scrollbar {
    height: 3px;
    background-color: white;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #cccccc;
  }
}
