@headerTextColor: #161255;
.container {
  height: 100%;
  overflow-y: scroll;
  .user-info {
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: #ffffff;
    height: 55px;

    > div {
      color: @headerTextColor;
      font-weight: bold;
      height: 55px;
      line-height: 55px;
      padding: 2px;
      font-size: 14px;
      margin-right: 16px;
    }
  }
  .button-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 12px auto;
    > div {
      margin-left: 5px;
    }
  }
}
